 @import "tailwindcss";
 @plugin "flowbite-react/plugin/tailwindcss";
 @source "../.flowbite-react/class-list.json";
 /* @import "flowbite"; */

 .dark{
  @apply bg-[#171923] text-white
 }
 .light{
  @apply bg-white text-black
 }
